/*
* Stylesheet for ChatterCom
* Written By: Shikher Aatrey
*/

/*
* Table of Contents
* 1. General (22)
* 2. Login (38)
* 	2.1 Social Button (75)
* 3. Home (90)
* 	3.1 Loader (102)
* 	3.2 Editor (155)
* 	3.3 Search (174)
* 	3.4 Post (206)
* 	3.5 Suggestion (219)
* 4. Profile (234)
* 	4.1 Followering (299)
* 5. Media Queries (315)
 */

/* <General> */

.no-right-padding {
	padding-right: 0px;
}

.no-left-padding {
	padding-left: 0px;
}

.search-bar-main {
	display: inline;
}

/* </General> */

/* <Login> */

.login-layout,
.login-wrapper {
	min-height: 100vh;
}

.login-layout {
	background-image:
		url('../img/background_intro.jpg');
}

.login-form-button,
.login-form {
	width: 100%;
}

.login-form-forgot {
	float: right;
}

.login-main {
	padding-top: 10%;
}

.login-left {
    border-right: 1px solid lightgrey;
}

.menu-header {
	font-weight: 900;
}

.info-paragraph {
	margin-top: 3%;
}

	/* <Social Button> */

	button.ant-btn.ant-btn-danger.ant-btn-lg {
		width: 100%;
		color: white;
		background-color: #df4930;
	    width: 100%;
	    padding: 0.9em 1em 1em 1.3em;
	    height: auto;
	}

	/* </Social Button> */

/* </Login> */

/* <Home> */

.home-layout,
.home-wrapper {
	min-height: 100vh;
}

.fixed-sider {
    position: fixed;
    width: 14%;
}

	/* <Loader> */
	.loader-active {
		background-color: lightgrey;
		filter: blur(10px);
	}

	.intro-loader {
		position: absolute;
		top: 50%;
		left: 48%;
		z-index: 1;
	}

	.load-line {
		animation: expand 1s ease-in-out infinite;
		border-radius: 10px;
		display: inline-block;
		transform-origin: center center;
		margin: 0 3px;
		width: 1px;
		height: 25px;
	}

	.load-line:nth-child(1) {
		background: #27ae60;
	}

	.load-line:nth-child(2) {
		animation-delay: 180ms;
		background: #f1c40f;
	}

	.load-line:nth-child(3) {
		animation-delay: 360ms;
		background: #e67e22;
	}

	.load-line:nth-child(4) {
		animation-delay: 540ms;
		background: #2980b9;
	}

	@keyframes expand {
		0% {
			transform: scale(1);
		}
		25% {
			transform: scale(2);
	  	}
	}

	/* </Loader> */

	/* <Editor> */

	.editor {
		background: white;
		border: 2px solid #d9d9d9;
		margin-bottom: 2em;
	}

	.editor-btn {
		padding: 10px;
		border-top: 1px solid #d9d9d9;
	}

	#chars-remaining {
		float: right;
	}

	/* </Editor> */

	/* <Search> */

	.img-circle-md {
		border-radius: 50%;
		height: 31px;
    	width: 31px;
	}

	.img-circle-sm {
		border-radius: 50%;
    	height: 24px;
		position: relative;
		top: 7px;
		margin-right: 12px;
	}

	.img-circle-lg {
		position: relative;
		top: 1.2em;
		border-radius: 50%;
	}

	.search-user-name {
		font-weight: 700;
	}

	.search-user-nickname {
		float: left;
	}

	/* </Search> */

	/* <Post> */

	.post-body {
		word-break: break-word;
		font-size: 14px;
	}

	.post-head-title {
		font-weight: normal;
	}

	/* </Post> */

	/* <Suggestion> */

	.suggestion-picture {
		top: 0%;
	}

	.suggestion-name {
		font-size: 1.2em;
		font-weight: 700;
	}

	/* </Suggestion> */

/* </Home> */

/* <Profile> */

.profile-wrapper,
.profile-layout {
	min-height: 100vh;
}

.img-circle-xlg {
	border-radius: 50%;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 25%);
}

.profile-pic {
	padding: 0 6.5em 4em 6.5em;
}

.profile-name {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.profile-nickname {
	text-align: center;
	font-size: 1.4em;
	font-style: italic;
	color: darkgrey;
	padding-bottom: 1em;
	border-bottom: 2px solid lightgrey;
}

.profile-meta {
    text-align: center;
    font-size: 3em;
    color: dodgerblue;
}

.profile-meta-tag {
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
}

.profile-follow {
	margin-top: 2em;
    text-align: center;
}

.profile-details-container {
	padding: 0 10px !important;
}

.meta {
	position: relative;
	left: 0%;
}

.meta-center {
	position: relative;
	left: 0%;
}

	/* <Followering> */

	.followering-picture {
		top: 0%;
		transform: translate(50%, 0%);
	}

	.followering-name {
    	font-size: 1.6em;
	}

	/* </Followering */

/* </Profile> */

/* <Media queries> */

/* For 'sm' and 'xs' resolutions */
@media screen and (max-width: 991px){
    .login-left {
    	border-right: none;
    	padding-bottom: 1em;
    	margin-bottom: 1em;
    	border-bottom: 1px solid lightgrey;
    }

    .fixed-sider {
    	width: 20%;
    }
}

/* For 'xs' resolutions */
@media screen and (max-width: 767px) {
	.fixed-sider {
		position: relative;
		margin-bottom: 2em;
		width: 100%;
	}

	.meta-center {
		position: relative;
		left: 50%;
	}
}

@media screen and (max-width: 580px) {
	.search-bar-main {
		display: none;
	}
}
/* </Media Queries> */

