/*
* Stylesheet for ChatterCom
* Written By: Shikher Aatrey
*/

/*
* Table of Contents
* 1. Skeleton (16)
* 2. Login (24)
* 3. Social Button (63)
* 3. Home (76)
* 4. Profile (80)
* 5. Media Queries (84)
 */

/* Skeleton */

.skeleton {

}

/* </Skeleton> */

/* <Login> */

.login-layout,
.login-wrapper {
	min-height: 100vh;
}

.login-layout {
	background-image:
		url('../img/background_intro.jpg');
}

.login-form-button,
.login-form {
	width: 100%;
}

.login-form-forgot {
	float: right;
}

.login-main {
	padding-top: 10%;
}

.login-left {
    border-right: 1px solid lightgrey;
}

.menu-header {
	font-weight: 900;
}

.info-paragraph {
	margin-top: 3%;
}

	/* <Social Button> */

	button.ant-btn.ant-btn-danger.ant-btn-lg {
		width: 100%;
		color: white;
		background-color: #df4930;
	    width: 100%;
	    padding: 0.9em 1em 1em 1.3em;
	    height: auto;
	}

	/* </Social Buttons> */

/* </Login> */

/* <Home> */

.home-layout,
.home-wrapper {
	min-height: 100vh;
}

.fixed-sider {
    position: fixed;
    width: 14%;
}

	/* <Loader> */
	.loader-active {
		background-color: lightgrey;
		filter: blur(10px);
	}

	.intro-loader {
		position: absolute;
		top: 50%;
		left: 48%;
		z-index: 1;
	}

	.load-line {
		animation: expand 1s ease-in-out infinite;
		border-radius: 10px;
		display: inline-block;
		transform-origin: center center;
		margin: 0 3px;
		width: 1px;
		height: 25px;
	}

	.load-line:nth-child(1) {
		background: #27ae60;
	}

	.load-line:nth-child(2) {
		animation-delay: 180ms;
		background: #f1c40f;
	}

	.load-line:nth-child(3) {
		animation-delay: 360ms;
		background: #e67e22;
	}

	.load-line:nth-child(4) {
		animation-delay: 540ms;
		background: #2980b9;
	}

	@keyframes expand {
		0% {
			transform: scale(1);
		}
		25% {
			transform: scale(2);
	  	}
	}

	/* </Loader> */

	/* <Editor> */

	.editor {
		background: white;
		border: 2px solid #d9d9d9;
		margin-bottom: 2em;
	}

	.editor-btn {
		padding: 10px;
		border-top: 1px solid #d9d9d9;
	}

	#chars-remaining {
		float: right;
	}

	/* </Editor> */

/* </Home> */

/* <Profile> */

/* </Profile> */

/* <Media queries> */

/* For 'sm' and 'xs' resolutions */
@media screen and (max-width:991px){
    .login-left {
    	border-right: none;
    	padding-bottom: 1em;
    	margin-bottom: 1em;
    	border-bottom: 1px solid lightgrey;
    }
}

/* </Media Queries> */

